<div class="page noBackground" id="home">

  <div class="container">
    <h1>Bienvenue sur Onama</h1>
    <h3>Organisez avec facilité et efficacité votre alimentation !</h3>
    <div class="row">
      <div class="col s6" >
        <a href="#food" uk-scroll>
          <div class="uk-inline-clip uk-transition-toggle imgHome">
            <img src="img/food.jpeg" alt="">
            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
              <p class="uk-h4 uk-margin-remove">Aliments</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col s6">
        <a href="#recipes" uk-scroll>
          <div class="uk-inline-clip uk-transition-toggle imgHome">
            <img src="img/recipes.jpeg" alt="">
            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
              <p class="uk-h4 uk-margin-remove">Recettes</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
