<div class="page" id="connection" ng-controller="ConnectionCtrl">
  <div class="container onBackground">
    <h3>Connexion</h3>
    <form method="post"  name="Connection" novalidate>
      <input type="email" name="AdresseMailC" id="AdresseMailC" placeholder=" Adresse Mail" required />
      <input type="password" name="MotDePasseC" id="MotDePasseC" placeholder=" Mot de Passe" required/>
      <input id="ResterConnecte" type="checkbox" name="ResterConnecte" /><label style="float:left" for="ResterConnecte">Rester connecté </label>
      <a style="float:right" href="MotDePasseOublie.php">Mot de pass oublié ?</a><br>
      <input class="waves-effect waves-light btn" type="submit" name="NomForm" value="Connexion" class="Bouton" />
    </form>
  </div>
</div>
