<div class="page" id="connection" ng-hide="userCtrl.connected()">
  <div class="container onBackground">
    <h3>Connexion</h3>
    <form ng-submit="Connection.$valid && userCtrl.getConnection()" name="Connection" novalidate>
      <input type="text" placeholder="Adresse Mail" ng-model="userCtrl.connection.mailadress" required/>
      <input type="password" placeholder=" Mot de Passe" ng-model="userCtrl.connection.password" required/>
      <input type="checkbox" id="stayconnected" ng-model="userCtrl.connection.stayconnected"/><label style="float:left" for="stayconnected">Rester connecté </label>
      <a style="float:right" href="MotDePasseOublie.php">Mot de pass oublié ?</a><br>
      <button class="btn waves-effect waves-light" type="submit" name="action">Connexion
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
