<div class="page" id="connection" ng-controller="ConnectionCtrl">
  <div class="container onBackground">
    <h3>Connexion</h3>
    <form method="post" action="#" ng-submit="ConnectionCtrl.getConnection(connection)" name="Connection" novalidate>
      <input type="email" name="AdresseMailC" placeholder="Adresse Mail" ng-model="connection.mailadress" required/>
      <input type="password" name="MotDePasseC" placeholder=" Mot de Passe" ng-model="connection.password" required/>
      <input id="ResterConnecte" type="checkbox" name="ResterConnecte" /><label style="float:left" for="ResterConnecte">Rester connecté </label>
      <a style="float:right" href="MotDePasseOublie.php">Mot de pass oublié ?</a><br>
      <input class="waves-effect waves-light btn" type="submit" name="NomForm" value="Connexion" class="Bouton"/>
    </form>
    <p>{{Connection.$valid}} and {{connection.mailadress}} and {{connection.password}}<p>
  </div>
</div>
