<div class="page" id="food" ng-controller="FoodCtrl as foodCtrl">
  <div class="container onBackground">
    <div class="row">
      <h3>Aliments</h3>

      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input type="text" id="autocompleteFood" class="autocomplete">
              <label for="autocompleteFood">Chercher aliment</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <ul class="pagination">
           <li class="waves-effect" ng-class="foodCtrl.disableLeft()" ng-click="foodCtrl.previousPage()"><a href=""><i class="material-icons">chevron_left</i></a></li>
           <li ng-repeat="i in foodCtrl.totalPage" ng-class="foodCtrl.activePage(i)" ng-click="foodCtrl.changePage(i)"><a href="">{{i}}</a></li>
           <li class="waves-effect" ng-class="foodCtrl.disableRight()" ng-click="foodCtrl.nextPage()"><a href=""><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>

      <div class="col s6">
        <ul class="collapsible" data-collapsible="accordion">
          <li ng-repeat="foodrow in foodCtrl.foodrow1" class="foodrow">
            <div class="collapsible-header">
              <a href="#recipe" ng-click="" class="btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Détails"><i class="material-icons">visibility</i></a>
              <span>{{foodrow.title_food}}</span>
            </div>
              <div class="collapsible-body"><span>
                <table class="bordered">
                  <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Valeur(pour 100g)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Prix</td>
                      <td>{{foodrow.price}}€/kg</td>
                    </tr>
                    <tr>
                    <tr>
                      <td>Calories</td>
                      <td>{{foodrow.calorie}}</td>
                    </tr>
                    <tr>
                      <td>Lipides</td>
                      <td>{{foodrow.lipids}}g</td>
                    </tr>
                    <tr>
                      <td>Glucides</td>
                      <td>{{foodrow.carbohydrates}}g</td>
                    </tr>
                    <tr>
                      <td>Protéines</td>
                      <td>{{foodrow.proteins}}g</td>
                    </tr>
                  </tbody>
                </table>
              </span></div>
            </li>
        </ul>
      </div>
      <div class="col s6">
        <ul class="collapsible" data-collapsible="accordion">
          <li ng-repeat="foodrow in foodCtrl.foodrow2" class="foodrow">
            <div class="collapsible-header">
              <a href="#recipe" ng-click="foodCtrl.test()" class="btn-floating btn-tiny waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Détails"><i class="material-icons">visibility</i></a>
              <span>{{foodrow.title_food}}</span>
            </div>
              <div class="collapsible-body"><span>
                <table class="bordered">
                  <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Valeur(pour 100g)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Prix</td>
                      <td>{{foodrow.price}}€/kg</td>
                    </tr>
                    <tr>
                    <tr>
                      <td>Calories</td>
                      <td>{{foodrow.calorie}}kcal</td>
                    </tr>
                    <tr>
                      <td>Lipides</td>
                      <td>{{foodrow.calorie}}g</td>
                    </tr>
                    <tr>
                      <td>Glucides</td>
                      <td>{{foodrow.carbohydrates}}g</td>
                    </tr>
                    <tr>
                      <td>Protéines</td>
                      <td>{{foodrow.proteins}}g</td>
                    </tr>
                  </tbody>
                </table>
              </span></div>
            </li>
        </ul>
      </div>

      <div class="col s12">
        <ul class="pagination">
           <li class="waves-effect" ng-class="foodCtrl.disableLeft()" ng-click="foodCtrl.previousPage()"><a href=""><i class="material-icons">chevron_left</i></a></li>
           <li ng-repeat="i in foodCtrl.totalPage" ng-class="foodCtrl.activePage(i)" ng-click="foodCtrl.changePage(i)"><a href="">{{i}}</a></li>
           <li class="waves-effect" ng-class="foodCtrl.disableRight()" ng-click="foodCtrl.nextPage()"><a href=""><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
