<header id="header">
	<a href="/Accueil.php" id="Titre-Onama" class="InHeader"><h1>Onama.fr</h1></a>
	<a href="/Accueil.php" class="InHeader" style="height:50px"><img id="LogoOnama" src="../img/TeteCerf.png" alt="Logo Onama" /></a>
</header>
