<div id="inscription">
  <div class="container">
    <h1>Inscription</h1>
    <form method="post" action="compte-cible.php">
      <label class="form_col" for="homme" >Sexe :</label>
					<input name="Sexe" type="radio" value="Homme" id="homme" /><label>Homme</label>
					<input name="Sexe" type="radio" value="Femme" /><label>Femme</label>
					<input name="firstname" type="text" placeholder="Nom"/>
					<input name="name" type="text" placeholder="Prenom"/>
					<input name="mailadress" type="mail" placeholder="Adresse mail"/>
      <input class="waves-effect waves-light btn" type="submit" name="form" value="Inscription"/>
    </form>
  </div>
</div>
