<div id="inscription">
  <div class="container">
    <h1>Inscription</h1>
    <form method="post" action="compte-cible.php">
      <label class="form_col" for="homme" style="float:right">Sexe :</label>
					<p><input name="sexe" type="radio" value="Homme" id="homme" /><label for="homme">Homme</label></p>
					<p><input name="sexe" type="radio" value="femme" id="femme"/><label for="homme">Femme</label></p>
          <div class="input-field">
            <input id="name" name="name" type="text"/>
            <label for="name">Nom</label>
          </div>
          <div class="input-field">
            <input id="firstname" name="firstname" type="text"/>
            <label for="firstname">Nom</label>
          </div>
          <div class="input-field">
            <input id="mailadress" name="mailadress" type="text"/>
            <label for="mailadress">Adresse mail</label>
          </div>
          <div class="input-field">
            <input type="date" id="birthdate" name="birthdate" class="datepicker"/>
            <label for="birthdate">Date de naissance</label>
          </div>
      <input class="waves-effect waves-light btn" type="submit" name="form" value="Inscription"/>
    </form>
  </div>
</div>
