<div class="page" id="inscription" ng-controller="InscriptionCtrl as inscriptionCtrl">
  <div class="container">
    <h1>Inscription</h1>
    <form name="Inscription" ng-submit="Inscription.$valid && inscription.password == inscription.passwordbis && inscriptionCtrl.getInscription(inscription)" novalidate>
      <label class="form_col" for="homme" style="float:left">Sexe :</label><br>
			<p><input name="sexe" type="radio" value="Homme" id="homme"/><label for="homme">Homme</label></p>
			<p><input name="sexe" type="radio" value="femme" id="femme"/><label for="femme">Femme</label></p>
      <div class="input-field">
        <input id="lastname" name="lastname" type="text" ng-model="inscription.lastname" required/>
        <label for="lastname">Nom</label>
      </div>
      <div class="input-field">
        <input id="firstname" name="firstname" type="text" ng-model="inscription.firstname" required/>
        <label for="firstname">Prénom</label>
      </div>
      <div class="input-field">
        <input  name="mailadress" type="text" ng-model="inscription.mailadress" required/>
        <label for="mailadress">Adresse mail</label>
      </div>
      <div class="input-field">
        <label for="birthdate">Date de naissance</label>
        <input type="date" id="birthdate" name="birthdate" class="datepicker" ng-model="inscription.birthdate" required/>
      </div>
      <div class="input-field">
        <input id="password" name="password" type="password" ng-model="inscription.password" required/>
        <label for="password">Mot de passe</label>
      </div>
      <div class="input-field">
        <input id="passwordbis" name="passwordbis" type="password" ng-model="inscription.passwordbis" required/>
        <label for="passwordbis">Mot de passe</label>
      </div>
      <input class="waves-effect waves-light btn" type="submit" name="form" value="Inscription"/>
    </form>
  </div>
</div>
