<div class="page parallax-container" id="myProfile" ng-show="userCtrl.connected()">
  <div class="parallax"><img src="img/Fondecran2.jpg"></div>
  <div class="container onBackground">
    <h3>Mon Compte</h3>
    <div class="divider"></div>
    <div class="section">
      <h5>Nom</h5>
      <p>{{userCtrl.user.lastname}}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Prénom</h5>
      <p>{{userCtrl.user.firstname}}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Sexe</h5>
      <p>{{userCtrl.user.sexe}}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Adresse mail</h5>
      <p>{{userCtrl.user.mailadress}}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Date de naissance</h5>
      <p>{{userCtrl.user.birthdate | date}}</p>
    </div>
    <form ng-submit="EditPassword.$valid && userCtrl.editpassword.newpassword == userCtrl.editpassword.newpasswordbis && userCtrl.editPassword()" name="EditPassword" novalidate>
      <input type="password" placeholder="Mot de passe actuel" ng-model="userCtrl.editpassword.actualpassword" required/>
      <input type="password" placeholder="Nouveau mot de passe" ng-model="userCtrl.editpassword.newpassword" required/>
      <input type="password" placeholder="Nouveau mot de passe" ng-model="userCtrl.editpassword.newpasswordbis" required/>
      <button class="btn waves-effect waves-light" type="submit" name="action">Modifier le mot de passe
        <i class="material-icons right">mode_edit</i>
      </button>
    </form>
  </div>
</div>
