<nav>
	<a href="#home" class="principalnav navPc">Accueil</a>
  <a href="#connection" class="principalnav navPc">Connexion</a>
	<a href="/Cuisine/Encyclopedie-Aliment.php" id="Aliments" class="principalnav navPc">Encyclopédie des Aliments</a>
  <a href="/Accueil.php" class="InHeader" style="height:50px"><img id="LogoOnama" src="../img/TeteCerfBlc.png" alt="Logo Onama" /></a>
	<a href="/Cuisine/Accueil.php" id="Recettes" class="principalnav navPc">Encyclopédie des Recettes</a>
	<a id="Inscription" href="/Inscription.php" class="principalnav navPc">Inscription</a>
	<div class="navMedia">
		<section class="ligne"></section><section class="ligne"></section><section class="ligne"></section>
	</div>
</nav>
<div class="aNavMedia">
	<a href="/Accueil.php">Accueil</a>
	<a href="/Cuisine/Encyclopedie-Aliment.php">Encyclopédie des aliments</a>
	<a href="/Cuisine/Accueil.php">Rechercher recette</a>
	<a href="/Inscription.php">Inscription</a>
</div>
