<div class="navbar-fixed" ng-controller="NavCtrl as navCtrl">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a href="#top" class="brand-logo center" ><img style="height:60px;" id="LogoOnama" src="../img/TeteCerfBlc.png" alt="Logo Onama" /></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#top" >Accueil</a></li>
        <li ><a href="#recipes" >Recettes</a></li>
        <li ><a ng-show="pageCtrl.connected()" href="#myrecipes" >Mes Recettes</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li ng-hide="pageCtrl.connected()"><a href="#connection" >Connexion</a></li>
        <li ng-hide="pageCtrl.connected()"><a href="#inscription" >Inscription</a></li>
        <li ng-show="pageCtrl.connected()"><a href="#myfood" >Mes aliments</a></li>
        <li ><a href="#food" >Aliments</a></li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mon compte" ng-show="pageCtrl.connected()"><a href="#myProfile" ><i class="large material-icons">perm_identity</i></a></li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Deconnexion" ng-show="pageCtrl.connected()"><a href="#top" ng-click="navCtrl.deconnection()"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>

      <a data-activates="nav-mobile" class="button-collapse" ><i class="material-icons">menu</i></a>
    </div>
  </nav>

</div>
<ul id="nav-mobile" class="side-nav">
  <li><a href="#top" uk-scroll>Accueil</a></li>
  <li ng-hide="pageCtrl.connected()"><a href="#connection" >Connexion</a></li>
  <li ng-hide="pageCtrl.connected()"><a href="#inscription" >Inscription</a></li>
  <li ng-show="pageCtrl.connected()"><a href="#myProfile" title="Mon compte" ><i class="small material-icons">perm_identity</i>Mon compte</a></li>
  <li ><a href="#recipes" >Recettes</a></li>
  <li ng-show="pageCtrl.connected()"><a href="#myfood" >Mes aliments</a></li>
  <li ><a href="#food" >Aliments</a></li>
  <li ng-show="pageCtrl.connected()"><a href="#top" ng-click="navCtrl.deconnection()"><i class="small material-icons">power_settings_new</i>Deconnexion</a></li>
</ul>
