<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left"><div>
          <ul class="uk-navbar-nav">
              <li><a href="#home">Accueil</a></li>
              <li><a href="#connection">Connection</a></li>
          </ul>
        </div></div>
        <a href="#top" class="uk-navbar-item uk-logo"><img style="height:50px" src="../img/TeteCerfBlc.png" alt="Logo Onama" /></a>
        <div class="uk-navbar-center-right"><div>
          <ul class="uk-navbar-nav">
                <li><a href="#">Item</a></li>
            </ul>
        </div></div>
    </div>
</nav>
