<nav>
	<a href="/Accueil.php" id="Accueil" class="principalnav navPc">Accueil</a>
	<a href='/Soiree/Accueil.php' id="SosSoiree" class="principalnav navPc">SOS Soirée</a>
	<a href="/Cuisine/Encyclopedie-Aliment.php" id="Aliments" class="principalnav navPc">Encyclopédie des Aliments</a>
	<a href="/Cuisine/Accueil.php" id="Recettes" class="principalnav navPc">Encyclopédie des Recettes</a>
	<a href='/CreerLien.php' id='CreerLien' class='principalnav navPc'>Créer lien</a>
	<a href="/Projet_Fas/Gestion_Raspberry.php" class='principalnav navPc'>Raspberry</a>
	<a href="http://www.testriasec.fr" class='principalnav navPc'>Test Riasec</a>
	<a id="Inscription" href="/Inscription.php" class="principalnav navPc">Inscription</a>
	<div class="navMedia">
		<section class="ligne"></section><section class="ligne"></section><section class="ligne"></section>
	</div>
</nav>
<div class="aNavMedia">
	<a href="/Accueil.php">Accueil</a>
	<a href="/Soiree/Accueil.php">SOS Soirée Accueil</a>
	<a href="/Cuisine/Encyclopedie-Aliment.php">Encyclopédie des aliments</a>
	<a href="/Cuisine/Accueil.php">Rechercher recette</a>
	<a href="/Inscription.php">Inscription</a>
</div>
