<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a href="#top" class="brand-logo center" uk-scroll><img style="height:60px;" id="LogoOnama" src="../img/TeteCerfBlc.png" alt="Logo Onama" /></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#top" uk-scroll>Accueil</a></li>
        <li ng-show="userCtrl.connected()"><a href="#myfood" uk-scroll>Mes aliments</a></li>
        <li ><a href="#food" uk-scroll>Aliments</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li ng-hide="userCtrl.connected()"><a href="#connection" uk-scroll>Connexion</a></li>
        <li ng-hide="userCtrl.connected()"><a href="#inscription" uk-scroll ng-hide="userCtrl.connected()">Inscription</a></li>
        <li ><a href="#recipes" uk-scroll>Recettes</a></li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mon compte" ng-show="userCtrl.connected()"><a href="#myProfile" uk-scroll><i class="large material-icons">perm_identity</i></a></li>
        <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dconnexion" ng-show="userCtrl.connected()" ng-click="userCtrl.deconnection()"><a href="#top" uk-scroll><i class="large material-icons">power_settings_new</i></a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse" ><i class="material-icons">menu</i></a>
    </div>
  </nav>

</div>
<ul id="nav-mobile" class="side-nav">
  <li><a href="#top" uk-scroll>Accueil</a></li>
  <li ng-hide="userCtrl.connected()"><a href="#connection" uk-scroll>Connexion</a></li>
  <li ng-hide="userCtrl.connected()"><a href="#inscription" uk-scroll>Inscription</a></li>
  <li ng-show="userCtrl.connected()"><a href="#myProfile" title="Mon compte" uk-scroll><i class="small material-icons">perm_identity</i>Mon compte</a></li>
  <li ><a href="#recipes" uk-scroll>Recettes</a></li>
  <li ng-show="userCtrl.connected()"><a href="#myfood" uk-scroll>Mes aliments</a></li>
  <li ><a href="#food" uk-scroll>Aliments</a></li>
  <li ng-show="userCtrl.connected()" ng-click="userCtrl.deconnection()"><a href="#top" uk-scroll><i class="small material-icons">power_settings_new</i>Deconnexion</a></li>
</ul>
