<div class="page noBackground" id="recipes" ng-controller="RecipesCtrl as recipesCtrl">
  <div class="container">
    <h3>Recettes</h3>
    <div class="row">
      <div class="divider"></div>
    </div>
    <a ng-click="recipesCtrl.switchShowSearch()" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Recherche filtrée</a>
    <form ng-submit="recipesCtrl.findRecipes()" ng-show="recipesCtrl.showSearch()" >
      <div class="row">
        <div class="input-field s4" ng-show="pageCtrl.connected()">
          <div class="input-field col s6">
            <input type="checkbox" id="myFoodCheckbox" ng-model="recipesCtrl.search.myFood"/><label for="myFoodCheckbox">Avec mes aliments</label>
          </div>
          <div class="input-field col s6">
            <input type="checkbox" id="favoritesCheckbox" ng-model="recipesCtrl.search.favorites"/><label for="favoritesCheckbox">Mes recettes favorites</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m4 s12">
          <select ng-model="recipesCtrl.search.types" multiple>
            <option value="" disabled selected>Peu importe</option>
            <option ng-repeat="type in recipesCtrl.types" ng-value='{{type.id_type}}'>{{type.title_type}}</option>
          </select>
          <label>Types</label>
        </div>
        <div class="input-field col m4 s12">
          <select ng-model="recipesCtrl.search.difficulties" multiple>
            <option value="" disabled selected>Peu importe</option>
            <option ng-repeat="difficulty in recipesCtrl.difficulties" ng-value='{{difficulty.id_difficulty}}'>{{difficulty.title_difficulty}}</option>
          </select>
          <label>Difficultés</label>
        </div>
        <div class="input-field col m4 s12">
          <select ng-model="recipesCtrl.search.origins" multiple>
            <option value="" disabled selected>Peu importe</option>
            <option ng-repeat="origin in recipesCtrl.origins" ng-value='{{origin.id_origin}}'>{{origin.title_origin}}</option>
          </select>
          <label>Origines</label>
        </div>
        <div class="input-field col m6 s12">
          <input ng-model="recipesCtrl.search.time" type="number" id="timeAdd" min=0 step=1 max=9999/>
          <label for="timeMax">Temps de préparation maximum (min)</label>
        </div>
        <div class="input-field col m6 s12">
          <input ng-model="recipesCtrl.search.people" type="number" id="peopleamountAdd" min=0 step=1 max=99/>
          <label for="peopleamountAdd">Nombre de personne minimum</label>
        </div>
        <div class="input-field col m6 s12">
          <select ng-model="recipesCtrl.search.orderBy" >
            <option ng-repeat="(eValue,fValue) in recipesCtrl.orderByPossibilities" value='{{eValue}}'>{{fValue}}</option>
          </select>
          <label>Trier par (prix et valeurs nutritives pour 100g)</label>
        </div>
        <div class="input-field col s6">
          <select ng-model="recipesCtrl.search.orderByWay">
            <option value="" selected>Croissant</option>
            <option value="1">Décroissant</option>
          </select>
        </div>
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Rechercher</button>
        </div>
      </div>
    </form>



    <div class="row">
      <h3>Résultats</h3>

      <div class="divider col s12"></div>

      <div class="col s12 m4"  ng-repeat="recipe in recipesCtrl.getRecipes() | limitTo:20">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" ng-src="{{recipe.imgurl}}">
            <a ng-click="recipesCtrl.makeShowRecipe(recipe.id_recipe)" class="halfway-fab btn btn-floating  waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Détails"><i class="material-icons">visibility</i></a>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{recipe.title_recipe}}<i class="material-icons right">more_vert</i></span>
            <h6 ng-show="recipesCtrl.isOrdered()" class="orderByInfo">{{recipesCtrl.orderBy}} : {{recipe.orderby | number:0}} {{recipesCtrl.search.unity}}</h6>
            <i ng-click="recipesCtrl.changeFavorite(recipe.id_recipe)" class="material-icons waves-effect waves-light tooltipped favorite-list" data-position="bottom" data-delay="50" data-tooltip="Favoris">{{recipesCtrl.isFavorite(recipe.id_recipe)}}</i>

            <p>{{recipe.description}}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <div class="row">
              <div class="col s6">
                <p>{{recipe.type}}</p>
                <p>{{recipe.difficulty}}</p>
                <p>{{recipe.people}} personnes</p>
              </div>
              <div class="col s6">
                <p>{{recipe.time}} min</p>
                <p>{{recipe.origin}}</p>
                <p>{{recipe.popularity}} vues</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
