<div ng-controller="RecipeCtrl as recipeCtrl" class="page noBackground" id="recipe" ng-show="recipeCtrl.showRecipe()">


  <div class="container" ng-repeat="recipe in recipeCtrl.getRecipe()">
    <h3>Recette : {{recipe.title_recipe}}</h3>
    <div class="row">
      <div class="col s12">
        <img class="recipeimg" ng-src="{{recipe.imgurl}}"/>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <i ng-click="recipeCtrl.changeFavorite()" class="material-icons waves-effect waves-light tooltipped favorite-recipe" data-position="bottom" data-delay="50" data-tooltip="Favoris">{{recipeCtrl.isFavorite()}}</i>
      </div>
    </div>
    <div class='row'>
      <div class="col s12">
        <h5>{{recipe.description}}</h5>
      </div>
    </div>
    <div class="row">
      <h4><img class="titleLogo" src="img/infos.png"/>Caractéristiques</h4>
      <div class="col s6">
        <ul>
          <li><h5><h5>Type : {{recipe.title_type}}</h5></h5></li>
          <li><h5>Difficulté : {{recipe.title_difficulty}}</h5></li>
          <li><h5>Pour {{recipe.peopleamount}} personnes</h5></li>
        </ul>
      </div>
      <div class="col s6">
        <ul>
          <li><h5>Temps : {{recipe.time_recipe}} min</h5></li>
          <li><h5>Origine : {{recipe.title_origin}}</h5></li>
          <li><h5>popularité {{recipe.popularity}} vues</h5></li>
        </ul>
      </div>
    </div>



    <div class="row">
      <h4><img class="titleLogo" src="img/ingredients.png"/>Ingrédients</h4>
      <div class="col s12">
        <table class="bordered">
            <thead>
              <tr>
                  <th>Nom</th>
                  <th>Quantité (g)</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="food in recipe.food">
                <td>{{food.title_food}}</td>
                <td>{{food.quantity_containfood}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>


      <div class="instructions">
        <h4><img class="titleLogo" src="img/instructions.png"/>Instructions</h4>
        <ul>
          <li ng-repeat="instruction in recipe.instructions">
            <h5><i class="tiny material-icons">label</i>{{instruction}}</h5>
          </li>
        </ul>
      </div>
      <br>


      <div class="row">
        <h4><img class="titleLogo" src="img/chart.png"/>Poids, prix et valeur nutritives</h4>
        <div class="col s12">
          <table class="bordered">
              <thead>
                <tr>
                    <th>Nom</th>
                    <th>valeur</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Poids total</td>
                  <td>{{recipe.totalQuantity}} g</td>
                </tr>
                <tr>
                  <td>Prix</td>
                  <td>{{recipe.price}} €</td>
                </tr>
                <tr>
                  <td>Calories</td>
                  <td>{{recipe.calorie | number:2}} kcal/100g</td>
                </tr>
                <tr>
                  <td>Protéines</td>
                  <td>{{recipe.proteins | number:2}} g/100g</td>
                </tr>
                <tr>
                  <td>Lipides</td>
                  <td>{{recipe.lipids | number:2}} g/100g</td>
                </tr>
                <tr>
                  <td>Glucides</td>
                  <td>{{recipe.carbohydrates | number:2}} g/100g</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>
</div>
