<div class="page noBackground" id="recipes" ng-controller="RecipesCtrl as recipesCtrl">
  <div class="container">


    <h3>Recettes</h3>
    <a ng-click="recipesCtrl.switchShowSearch()" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Recherche filtrée</a>
    <form ng-submit="recipesCtrl.findRecipes()" ng-show="recipesCtrl.showSearch()" >
      <div class="row">
        <div class="input-field s12" ng-show="pageCtrl.connected()">
          <input type="checkbox" id="myFoodCheckbox" ng-model="recipesCtrl.search.myFood"/><label for="myFoodCheckbox">Avec mes aliments</label>
        </div>
        <div class="input-field col s12">
          <select ng-model="recipesCtrl.search.types" multiple>
            <option value="" disabled selected>Peu importe</option>
            <option ng-repeat="type in recipesCtrl.types" ng-value='{{type.id_type}}'>{{type.title_type}}</option>
          </select>
          <label>Types</label>
        </div>
        <div class="input-field col s12">
          <select ng-model="recipesCtrl.search.difficulties" multiple>
            <option value="" disabled selected>Peu importe</option>
            <option ng-repeat="difficulty in recipesCtrl.difficulties" ng-value='{{difficulty.id_difficulty}}'>{{difficulty.title_difficulty}}</option>
          </select>
          <label>Difficultées</label>
        </div>
        <div class="input-field col s12">
          <select ng-model="recipesCtrl.search.origins" multiple>
            <option value="" disabled selected>Peu importe</option>
            <option ng-repeat="origin in recipesCtrl.origins" ng-value='{{origin.id_origin}}'>{{origin.title_origin}}</option>
          </select>
          <label>Origines</label>
        </div>
        <div class="input-field col s12">
          <input ng-model="recipesCtrl.search.time" type="number" id="timeAdd" min=0 step=1 max=9999/>
          <label for="timeMax">Temps de préparation maximum (min)</label>
        </div>
        <div class="input-field col s12">
          <input ng-model="recipesCtrl.search.people" type="number" id="peopleamountAdd" min=0 step=1 max=99/>
          <label for="peopleamountAdd">Nombre de personne minimum</label>
        </div>
        <div>test : {{recipesCtrl.search.orderBy}}</div>
        <div class="input-field col s6">
          <select ng-model="recipesCtrl.search.orderBy" >
            <option ng-repeat="(eValue,fValue) in recipesCtrl.orderByPossibilities" value='{{eValue}}'>{{fValue}}</option>
          </select>
          <label>Trier par</label>
        </div>
        <div class="input-field col s6">
          <select ng-model="recipesCtrl.search.orderByWay">
            <option value="" selected>Croissant</option>
            <option value="1">Décroissant</option>
          </select>
        </div>
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Rechercher</button>
        </div>
      </div>
    </form>
    <div class="row">
      <h3>Résultats</h3>
      <ul class="collapsible popout" data-collapsible="accordion">
       <li ng-repeat="recipe in recipesCtrl.getRecipes() | limitTo:20">
         <div class="collapsible-header"><img class="responsive-img" ng-src="{{recipe.imgurl}}" />
           <h4>{{recipe.title_recipe}}</h4>
           <a uk-scroll href="#recipe" ng-click="recipesCtrl.makeShowRecipe(recipe.id_recipe)" class="btn-floating btn-large waves-effect waves-light tooltipped details" data-position="bottom" data-delay="50" data-tooltip="Détails"><i class="material-icons">visibility</i></a>
         </div>
         <div class="collapsible-body container">
           <div class="row"/>
             <div class="col s12" style="margin-bottom:10px">
               <span>{{recipe.description}}</span>
             </div>
             <div class="col s6">
               <p>Type : {{recipe.title_type}}</p>
               <p>Difficulté : {{recipe.title_difficulty}}</p>
               <p>Pour {{recipe.peopleamount}} personnes</p>
             </div>
             <div class="col s6">
               <p>Temps : {{recipe.time_recipe}} min</p>
               <p>Origine : {{recipe.title_origin}}</p>
               <p>Popularité : {{recipe.popularity}} vues</p>
             </div>
           </div>
         </div>
       </li>
     </ul>
    </div>
  </div>
</div>
