<div ng-controller="RecipeCtrl as recipeCtrl" class="page noBackground" id="recipe" ng-show="recipeCtrl.showRecipe()">
  <div id="recipeDoneModal" class="modal">
    <div class="row">
      <div class="col s12">
        <span>Etes vous sûr d'avoir effctuée {{recipeCtrl.getQtyRecipe()}} fois cette recette?<br>
        Les éléments nécessaires à la préparation seront enlevés de voytre compte.</span>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <a class=" modal-action modal-close waves-effect waves-light btn">Non</a>
      </div>
      <div class="col s6">
        <a ng-click="recipeCtrl.recipeDone()" class="modal-action modal-close waves-effect waves-light btn">Oui</a>
      </div>
    </div>
  </div>

  <div class="container" ng-repeat="recipe in recipeCtrl.getRecipe()">
    <h3>Recette : {{recipe.title_recipe}}</h3>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12">
        <div class="preloader-wrapper big active" ng-hide="recipe.imgurl">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <img class="recipeimg" ng-src="{{recipe.imgurl}}"/>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <i ng-click="recipeCtrl.changeFavorite()" class="material-icons waves-effect waves-light tooltipped favorite-recipe" data-position="bottom" data-delay="50" data-tooltip="Favoris">{{recipeCtrl.isFavorite()}}</i>
      </div>
    </div>
    <div class='row'>
      <div class="col s12">
        <div class="divider"></div>
        <h5>{{recipe.description}}</h5>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <i ng-class="recipeCtrl.iconEnougthFood" class="small material-icons">{{recipeCtrl.iconEnougthFood}}</i>
        <span>{{recipeCtrl.textEnougthFood}}</span>
      </div>
      <div ng-show="recipeCtrl.enougthFood()" class="col s12">
        <a href="#recipeDoneModal" class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cliquez ici si vous venez d'effectuer la recette et pour pouvoir enlever de vos aliments les aliments utilisés.">Recette effectuée pour {{recipe.totalPeople}} personnes</a>
      </div>
    </div>
    <nav>
    <div class="nav-wrapper recipeNav">
      <ul class="left">
        <li ng-class="recipeCtrl.pageIsActive(1)"><a ng-click="recipeCtrl.page = 1"><img class="titleLogo" src="img/infos.png"/><span class="hide-on-med-and-down">Caractéristiques</<span></a></li>
        <li ng-class="recipeCtrl.pageIsActive(2)"><a ng-click="recipeCtrl.page = 2"><img class="titleLogo" src="img/ingredients.png"/><span class="hide-on-med-and-down">Ingrédients</<span></a></li>
        <li ng-class="recipeCtrl.pageIsActive(3)"><a ng-click="recipeCtrl.page = 3"><img class="titleLogo" src="img/instructions.png"/><span class="hide-on-med-and-down">Instructions</<span></a></li>
        <li ng-class="recipeCtrl.pageIsActive(4)"><a ng-click="recipeCtrl.page = 4"><img class="titleLogo" src="img/chart.png"/><span class="hide-on-med-and-down">Valeurs</<span></a></li>
      </ul>
    </div>
  </nav>

    <div class="row" ng-show="recipeCtrl.page == 1">
      <h4 class="hide-on-large-only">Caractéristiques</h4>
      <div class="col s12 m6">
        <ul>
          <li><h5><h5>Type : {{recipe.title_type}}</h5></h5></li>
          <li><h5>Difficulté : {{recipe.title_difficulty}}</h5></li>
          <li><h5>Pour {{recipe.totalPeople}}
                <i ng-click="recipeCtrl.rmPeople()" style="color: #806b49" class="small material-icons caracBtn">remove_circle_outline</i>
                <i ng-click="recipeCtrl.addPeople()" style="color: #008f45" class="small material-icons caracBtn">add_circle_outline</i> personnes
              </h5>
          </li>
        </ul>
      </div>
      <div class="col s12 m6">
        <ul>
          <li><h5>Temps : {{recipe.time_recipe}} min</h5></li>
          <li><h5>Origine : {{recipe.title_origin}}</h5></li>
          <li><h5>Popularité {{recipe.popularity}} vues</h5></li>
        </ul>
      </div>
    </div>

    <div class="row" ng-show="recipeCtrl.page == 2">
      <h4 class="hide-on-large-only">Ingrédients</h4>
      <div class="col s12">
        <div class="collection">
          <a ng-repeat="food in recipe.food" ng-class="recipeCtrl.hasFood(food.id_food,food.quantity_containfood)" class="collection-item"><span class="first-content">{{food.title_food}}</span><span class="secondary-content">{{food.quantity_containfood*recipeCtrl.getQtyRecipe()}}g</span></a>
        </div>
      </div>
      <i>Si la case est entièrement verte alors vous possèdez l'ingrédient en quantité suffisante.</i>
    </div>


    <div class="row" ng-show="recipeCtrl.page == 3">
      <h4 class="hide-on-large-only">Instructions</h4>
      <div class="collection">
        <a ng-repeat="instruction in recipe.instructions" ng-click="recipeCtrl.selectInst($index)" ng-class="recipeCtrl.IsactiveInst($index)" class="collection-item">{{$index + 1}}. {{instruction}}</a>
      </div>
      <i>Cliquer sur une case permet de retenir où vous en êtes dans votre réalisation.</i>
    </div>

    <div class="row" ng-show="recipeCtrl.page == 4">
      <h4 class="hide-on-large-only">Poids, prix et valeurs nutritives /100g</h4>
      <div class="col s12">
        <table>
          <thead>
            <tr>
              <th>Valeurs nutritives</th>
              <th>Pour 100g</th>
              <th>Par personne</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Poids total</td>
              <td>{{recipe.totalQuantity}}g</td>
              <td>{{recipe.propPerPers | number:0}}g</td>
            </tr>
            <tr>
              <td>Prix</td>
              <td>{{recipe.price | number:2}}€/kg</td>
              <td>{{recipe.price*recipe.propPerPers/1000 | number:2}}€
            </tr>
            <tr>
              <td>Calories</td>
              <td>{{recipe.calorie | number:0}}kcal</td>
              <td>{{recipe.calorie*recipe.propPerPers/100 | number:0}}kcal</td>
            </tr>
            <tr>
              <td>Protéines</td>
              <td>{{recipe.proteins | number:1}}g</td>
              <td>{{recipe.proteins*recipe.propPerPers/100 | number:1}}g</td>
            </tr>
            <tr>
              <td>Lipides</td>
              <td>{{recipe.lipids | number:1}}g</td>
              <td>{{recipe.lipids*recipe.propPerPers/100 | number:1}}g</td>
            </tr>
            <tr>
              <td>Glucides</td>
              <td>{{recipe.carbohydrates | number:1}}g</td>
              <td>{{recipe.carbohydrates*recipe.propPerPers/100 | number:1}}g</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
