nav{
  background: rgba(0,143,69,0.95);
}
h1{
  text-align: center;
  text-shadow: 1px 1px 4px;
  color: rgb(144,119,78);
}
h3{
  text-align: center;
  color: #008F45;
  text-shadow: 1px 1px 1px;
}
h4 {
  color: #806b49;
  text-align: center;
}
.imgHome{
  width: 65%;
  box-shadow: 0px 0px 7px black;
}
.col{
  text-align: center;
}
a{
  text-decoration: none;
}
.onBackground{
  background-color: #f0f0f0;
  padding: 5%;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}
html{
  background-image: url("../img/Fondecran2.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.foodrow{
  position: relative;
  font-weight: bold;
}
.btn-tiny{
  width: 30px;
  height: 30px;
  right: 5px;
  bottom: 5px;
  background-color: rgba(144,119,78,1);
}
.btn-tiny:hover{
  background-color: rgb(124,99,58);
}
.btn-tiny .material-icons{
  font-size: 1.4rem;
  line-height: 2.3rem;
}
#home{
  padding-top: 1px;
}
.noBackground{
  background-color: white;
}
.row{
  margin-bottom: 25px;
  margin-top: 25px;
}
.btn, .btn-large{
  background-color: rgb(144,119,78);
}
.btn:hover, .btn-large:hover{
  background-color: rgb(124,99,58);
}
.btn:focus, .btn-large:focus{
  background-color: rgb(124,99,58);
}
.container{
  text-align: center;
}
.page{
  padding-top:80px;
  padding-bottom:80px;
}
.ng-invalid.ng-dirty:not(form){
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}
#chargement{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 998;
}
#chargement>div{
  top: 45%;
  left: 45%;
  position: fixed;
  margin: auto;
  z-index: 999;
}
.page-footer{
  background: rgb(0,143,69);
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(0,143,69);
    box-shadow: 0 1px 0 0 rgb(0,143,69);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: rgb(0,143,69);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid rgb(0,143,69);
}
.picker__date-display {
    background-color: rgb(0,143,69);
  }
  .picker__weekday-display {
    background-color: rgb(144,119,78);
  }
  .picker__close, .picker__today {
      color: rgb(144,119,78);
  }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: rgb(0,143,69);
}
.toast{
  background-color: rgba(144,119,78,1);
}
.parallax-container {
    z-index: 1;
    height: initial;
}
.autocomplete-content {
    position: absolute;
}
.pagination li.active {
    background-color: rgba(144,119,78,1);
}
.fixed-action-btn {
  position: relative;
  margin: 0;
  text-align: right;
  right: 0px;
  bottom: 0px;
  padding-left: 0;
  z-index: 0;
}
.fixed-action-btn.horizontal ul li {
  margin: 8px 8px 0px 0px;
}
.minus{
  font-size: 4em;
  vertical-align: middle;
}
#modalLostPassword {
  width: 50%;
}
.modal input{
  margin: 0 20px 0 0;
}
.collapsible-header>img{
  height: 120px;
  margin: 10px;
  box-shadow: 0 0 5px grey;
}
.collapsible-header {
  text-align: left;
}
.collapsible-header>h4 {
  display: inline-block;
  margin-left: 15%;
}
.collapsible-body{
  padding: 0px;
}
.collapsible-header>a{
  float: right;
  margin-top: 10px;
}
.btn-floating.btn-large i {
    width: inherit;
  }
.recipeimg {
    box-shadow: 0px 0px 10px black;
}
.instructions{
  text-align: left;
}
.instructions>ul>li>h5>i{
  margin-right: 10px;
}
.collapsible.popout>li {
  position: relative;
}
.deleteRecipeBtn{
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.collapsible-header i {
  width: inherit
}
.details.btn-floating{
  position: absolute;
  right: 10px;
  top: 10px;
}
.favorite-list{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #008f45;
  font-size: 2rem;
}
.favorite-recipe{
  color: #008f45;
  font-size: 3rem;
}
.titleLogo {
  margin-right: 5px;
  max-width: 30px;
}
#recipe .container {
  text-align: left;
}
.orderByInfo {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.checkFood{
  color: #008f45;
  vertical-align: middle;
}
.recipeNav{
  background-color: #806b49;
}
.recipeNav ul li.active{
    background-color: #008f45;
  }

.recipeNav ul li {
  width:25%;
}
.recipeNav ul {
  width: 100%;
}
td, th{
  color: black;
}
nav ul a {
  text-align:center;
}
.collection {
  text-align: left;
  width: 65%;
    margin: auto;
}
.collection a.collection-item {
    color: #008f45;
}
.collection .collection-item.active {
    background-color: #008f45;
  }
.secondary-content{
  color: #008f45;
}
.collection.with-header .collection-item {
    padding-left: 20px;
}
.first-content{
  max-width: 70%;
  display: inline-block;
}
#inputModal{
  width: 70%;
}
.caracBtn{
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
