nav{
  background: rgba(0,143,69,0.95);
}
h1{
  text-align: center;
  text-shadow: 1px 1px 4px;
  color: rgb(144,119,78);
}
h3{
  text-align: center;
  color: #008F45;
  text-shadow: 1px 1px 3px;
}
.imgHome{
  width: 65%;
  box-shadow: 0px 0px 7px black;
}
.col{
  text-align: center;
}
a{
  text-decoration: none;
}
.onBackground{
  border-radius: 5px;
  background-color: rgba(255,255,255,0.85);
  box-shadow: 0px 0px 4px;
  padding: 50px;
}
body{
  /*background-image: url("../img/Fondecran.jpg");*/
}
#home{
  padding-top: 1px;
}
#home, #article, #inscription{
  background-color: white;
}
.row{
  margin-bottom: 25px;
  margin-top: 25px;
}
.btn, .btn-large{
  background-color: rgb(144,119,78);
}
.btn:hover, .btn-large:hover{
  background-color: rgb(124,99,58);
}
.btn:focus, .btn-large:focus{
  background-color: rgb(124,99,58);
}
.container{
  text-align: center;
}
.page{
  padding-top:80px;
  padding-bottom:80px;
}
.ng-invalid.ng-dirty:not(form){
  border-bottom: 1px solid red!important;
  box-shadow: 0 1px 0 0 red!important;
}
#chargement{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 998;
}
#chargement>div{
  top: 45%;
  left: 45%;
  position: fixed;
  margin: auto;
  z-index: 999;
}
.page-footer{
  background: rgb(0,143,69);
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(0,143,69);
    box-shadow: 0 1px 0 0 rgb(0,143,69);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: rgb(0,143,69);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid rgb(0,143,69);
}
.picker__date-display {
    background-color: rgb(0,143,69);
  }
  .picker__weekday-display {
    background-color: rgb(144,119,78);
  }
  .picker__close, .picker__today {
      color: rgb(144,119,78);
  }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: rgb(0,143,69);
}
.toast{
  background-color: rgba(144,119,78,1);
}
