nav{
  background: rgba(0,143,69,0.9);
}
h1{
  text-align: center;
  text-shadow: 1px 1px 4px;
  color: rgb(144,119,78);
}
h3{
  text-align: center;
  color: #008F45;
  text-shadow: 1px 1px 3px;
}
.imgHome{
  width: 90%;
}
.col{
  text-align: center;
}
