@keyframes AlimentSelectione
{
    50% {
        background-color: rgb(128,255,0);
    }
}
@-webkit-keyframes AlimentSelectione
{ /* Safari, Opera, Chrome */
	50% {
        background-color: rgb(128,255,0);
    }
}
@keyframes nouvelleQuantite
{
    20% {
        color: #008F45;
    }
	50% {
        color: #008F45;
    }
}
@-webkit-keyframes nouvelleQuantite
{ /* Safari, Opera, Chrome */
	20% {
        color: #008F45;
    }
	50% {
        color: #008F45;
    }
}
@font-face
{
	font-family: 'Comfortaa';
	src: url('comfortaa/Comfortaa_Bold.ttf');
}
html
{
	position:relative;
	background-image: url("img/Fondecran.jpg");
	background-size: cover;
	background-attachment: fixed;
}
body, h2, h1, header
{
	margin:0px;
}
body
{
	padding-bottom:40px;
	font-family: Comfortaa;
	line-height: 25px;
}
.page
{
	display: inline-block;
	margin-top: 120px;
	width: 75%;
	margin-right:9%;
	margin-left:9%;
	padding: 3%;
	background-color: white;
	border-radius:7px;
	position:relative;
	border-radius: 5px;
    background-color: rgba(255,255,255,0.88);
	box-shadow: 0px 0px 4px;
}
h1
{
	color: #008F45;
	font-family: Comfortaa;
	line-height: 50px;
}
h2
{
	line-height: 50px;
}
h2:hover
{
	text-decoration:none;
}
#Titre-Onama
{
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
/*nav a:hover
{
    transition: 0.3s;
	text-decoration: none;
	background-color:rgba(0,143,69,0.7);
}*/
header
{
	background-color: white;
	display:flex;
	justify-content: space-between;
	padding-right: 15px;
	position: fixed;
	width:99%;
	z-index: 10;
	border: rgb(200,200,200) solid 1px;
}
#LogoOnama
{
    height: 50px;
	position:fixed;
	left:45%;
}
#Connexion
{
	height: 50px;
}
nav
{
	rgba(0, 143, 69, 0.9);
	display:flex;
	box-shadow: 0px 0px 4px;
	margin-top: 2px;
	position: fixed;
	width:100%;
	margin: 2px;
    margin-top: 52px;
	z-index:9;
	background-color:rgba(0,143,69,0.9);
}
.principalnav
{
	font-family: Andale Mono, monospace;
	font-weight: bold;
	text-align: center;
	color: white;
	margin:0px;
	padding:10px;
	margin-left: 10px;
	margin-right: 10px;
    transition: 0.3s;
	cursor: pointer;
	position:relative;
}
section > .principalnav
{
	margin:0px;
	padding-right:0px;
}
.dropdown-content > a:hover
{
	background-color:rgb(144,119,78);
	color:white;
}
input
{
	border-radius: 5px;
	margin:2px;
}
.Equipements
{
	display: inline-block;
	width: 40%;
	padding-left: 40px;
	vertical-align:top;
}
#FinEquipements
{
	display: block;
}
h4
{
	display: block;
}
.Liste_Aliment
{
	width:150px;
	border: none;
	box-shadow: none;
	background-color: white;
	display: block;
}
.FormListe_Aliment
{
	margin: 0px;
	width:150px;
	display: block;
	margin: 2px;
	border: 2px solid white;
	break-inside: avoid-column;
	-webkit-column-break-inside:avoid;
    transition: 0.3s; /* La transition dure 1s */
	cursor: pointer;
	padding: 2px;
    text-align: center;
    background-color: rgb(230,230,230);
	color:black;
}
.FormListe_Aliment:hover
{
	border : 2px solid rgb(144,119,78);
	border-radius: 3px;
    transition: 0.5s; /* La transition dure 1s */
	text-decoration:none;
}
.table2
{
    /*border-collapse: collapse;*/
	width : 400px;
}
#Liste_Aliment
{
	-webkit-column-count:4; /* Opera, Safari, Google Chrome */
    -moz-column-count: 4; /* Firefox */
    column-count: 4; /* Internet Explorer */

}
#Selected
{
	background-color: rgb(144,119,78);
}

}
#RechercheAlimentPossede
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.form_col {
display: inline-block;
margin-right: 15px;
padding: 3px 0px;
width: 200px;
min-height: 1px;
text-align: right;
}

input, textarea {
	outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
	border: 2px solid rgb(144, 119, 78);
	border-radius: 10px;
	padding: 3px;
	font-family: Comfortaa;
	padding-left: 10px;
}

input:focus {
border-color: #008F45;
-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
box-shadow: 0 0 8px rgba(0,143,69,0.5);
}
select
{
	border: 2px solid rgb(144, 119, 78);
    border-radius: 10px;
    text-align-last: center;
    padding: 3px;
    font-family: Comfortaa;
}
select:focus
{
	outline: none;
	border-color: #008F45;
	box-shadow: 0px 0px 8px rgba(0,143,69,0.5);
}
input[type="submit"], .Bouton
{
	-webkit-appearance: none;
	background-color: rgb(144,119,78);
	color: white;
	padding: 10px;
    line-height: 20px;
	font-size: 1em;
	border: none;
	border-radius: 0px;
	font-family: Arial;
	margin: 5px;
	cursor: pointer;
	transition: 0.25s;
	box-shadow: 0px 1px 1px black;
	display: inline-block;
	text-align: center;
	border-radius:2px;
}
input[type="submit"]:hover, .Bouton:hover, .petitBouton:hover
{
	background-color: rgb(134,112,76);
	transition: 0.5s;
	text-decoration:none;
}
input[type="submit"]:active, .Bouton:active, .petitBouton:active
{
	box-shadow: 0px 0px 0px black;
	transition : 0.15s;
	text-decoration:none;
}
.correct {
border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
border-color: rgba(68, 191, 68, 0.75);
-moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
-webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
border-color: rgba(191, 68, 68, 0.75);
-moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
-webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
.tooltip {
display: none;
margin-left: 20px;
padding: 2px 4px;
border: 1px solid #555;
background-color: #CCC;
border-radius: 4px;
}
.hidden{
	display: none;
}
th, td{
    border: 2px solid rgba(68, 191, 68, 0.74902);
	border-radius: 2px;
	padding: 5px;
}
tr:hover td
{
	box-shadow: 1px 1px 5px rgba(68, 191, 68, 0.74902);
}
.MesAlimentsTr
{
	cursor: pointer;
	margin-top: 2px;
	height: 60px;
}
.ligneListe
{
	background-color: rgb(235, 235, 235);
	border-radius: 4px;
	width: 97%;
	margin:4px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	transition: 0.25s;
	position: relative;
	color: black;
	align-items: center;
}
.ligneListe h3,.ligneListe a
{
	margin:0px;
	text-decoration:none;
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
}
.ligneListe a
{
	color:black;
}
.ligneListe h3 a
{
	display: inline;
	margin: 0px;
}
.ligneListe:hover
{
	box-shadow:2px 2px 5px white;
	transition: 0.3s;
}
.RecetteTd{
	cursor: pointer;
	border: 3px solid rgb(144,119,78);
	background-color: rgb(235, 235, 235);
	border-radius: 4px;
	padding: 5px;
	width: 97%;
	margin:4px;
	display:flex;
	justify-content: space-between;
    align-items: center;
	box-shadow: 0px 0px 5px rgb(144,119,78);
	transition: 0.25s;
	position: relative;
	color: black;
}
.RecetteTd h4
{
	margin:3px;
}
.RecetteTd div
{
	display: inline-block;
	transition: 0.25s;
}
.RecetteTd:hover{
	box-shadow:2px 2px 5px rgba(144,119,78,74902);
	transition: 0.3s;
	text-decoration:none;
}
h2{
	font-family: Comfortaa;
	color:#008F45;
}
.LigneForm
{
	margin-top : 10px;
	margin-bottom : 10px;
}
#InformationCompte
{
	text-align: center;
}
.ImageRecetteEncyclopedie
{
	max-height: 150px;
	max-width: 150px;
	box-shadow: 0px 0px 5px black;
	transition: 0.25s;
}
.ImageRecetteEncyclopedie:hover
{
	box-shadow: 2px 2px 5px black;
	transition: 0.3s;
	cursor: zoom-in;
}
label
{
	cursor: pointer;
	padding-left:3px;
	margin-right:10px;
}
.overlay{
	display: none;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.75); /*dim the background*/
}
.ImageOverlay
{
	max-width: 100%;
	max-height: 100%;
    z-index: 11; /* 1px higher than the overlay layer */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .fleche1
{
	transform: rotate(40deg) translate(2px,14px);
	transition: 0.3s;
}
.dropdown:hover .fleche2
{
    transform: rotate(-40deg) translate(-7px,9px);
	transition: 0.3s;
}
.principalnav:hover
{
	background-color: rgb(144,119,78);
	text-decoration:none;
    transition: 0.3s;
}
/*.dropdown:hover .principalnav
{
	background-color:rgba(0,143,69,0.7);
    transition: 0.3s;
}*/
.dropdown:focus .dropdown-content {
    display: block;
}
.dropdown:focus .fleche1
{
	background-color:rgb(0,180,0);
	transform: rotate(40deg) translate(2px,14px);
	transition: 0.3s;
}
.dropdown:focus .fleche2
{
	background-color:rgb(0,180,0);
    transform: rotate(-40deg) translate(-7px,9px);
	transition: 0.3s;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
section
{
	display:inline-block;
}
.fleche1, .fleche2
{
	width: 11px;
    height: 2px;
    background-color: white;
    position: absolute;
    display: inline-block;
    border-radius: 20px;
}
.fleche1
{
    transform: rotate(50deg) translate(4px,12px);
    transition: 0.2s;
}
.fleche2
{
	transform: rotate(-50deg) translate(-8px,7px);
    transition: 0.2s;
}
.fleche
{
	width: 15px;
    padding-left: 5px;
    height: 15px;
	transition: 0.2s;
}
.PlusCreerRecette
{
	cursor:pointer;
	font-size:3em;
	color: green;
	transition:0.3s;
	padding-top: 3px;
	padding-right: 10px;
}
.PlusCreerRecette:hover
{
	transform: rotate(180deg);
	transition:0.4s;
}
.MoinsCreerRecette
{
	cursor:pointer;
	font-size:3em;
	color: red;
	transition:0.3s;
	padding-top: 3px;
	padding-right: 10px;
}
.MoinsCreerRecette:hover
{
	transform: rotate(180deg);
	transition:0.4s;
}
textarea
{
	width: 80%;
	height: 50px;
	font-family: Comic sans ms;
}
#moinsNbrP, #plusNbrP
{
	padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    font-size: 1.3em;
    Color: rgb(144,119,78);
    border: 2px rgb(144,119,78) solid;
    border-radius: 20px;
}
#moinsNbrP
{
	padding-left: 9px;
    padding-right: 8px;
    margin-right: 10px;
    margin-left: 15px;
}
#moinsNbrP:active
{
	box-shadow: 1px 1px 5px rgb(144,119,78);
}
#plusNbrP:active
{
	box-shadow: 1px 1px 5px rgb(144,119,78);
}
#nbrPersonneH3 span::selection
{
	background: transparent; color:inherit;
}
.actionTd div
{
	cursor: pointer;
    width: 40px;
    text-align: center;
    border-radius: 2px;
	box-shadow:none;
}
.actionTd div:hover
{

	box-shadow: 0px 0px 3px black;
}
.actionTd
{
	padding: 0px;
	border: none;
}
.actionTd:hover
{
	box-shadow: none;
}
.plusActionTd
{
	background-color: rgb(68, 191, 68);
}
.moinsActionTd
{
	background-color: rgb(255, 255, 40);
}
.supprActionTd
{
	background-color: rgb(255,40,40);
}
.numberActionTd
{
	width: 50px;
    margin: 0px;
    margin-bottom: 2px;
}
.petitBouton
{
	background-color:rgba(144,119,78, 0.85);
	color: white;
	border: none;
	border-radius: 0px;
	font-family: Arial;
	cursor: pointer;
	transition: 0.25s;
	box-shadow: 0px 1px 1px black;
	font-size: 0.7em;
    padding: 4px;
    margin: 0;
}
.actionFormTd
{
	cursor: initial;
	text-align: center;
	width: 75px;
}
.nomAlimentPossede
{
	width: 120px;
}
.quantiteAlimentPossede, .tdUnite
{
	text-align: center;
}
.nonFavorisRecherche, .FavorisRecherche, .FavorisRecette, .nonFavorisRecette
{
	width: 25px;
	height:25px;
	position: absolute;
	background-size: 25px 25px;
	cursor: pointer;
}
.nonFavorisRecherche, .FavorisRecherche
{
	bottom: 5px;
	background-image: url("Cuisine/FavorisRecherche.png");
}
.FavorisRecette, .nonFavorisRecette
{
	right: 20px;
    top: 20px;
	background-image: url("Cuisine/FavorisRecette.png");
}
.FavorisRecherche, .FavorisRecette
{
	background-color: yellow;
	transition: 0.3s;
}
.nonFavorisRecherche, .nonFavorisRecette
{
	background-color: white;
	transition: 0.3s;
}
.FavorisRecherche:hover, .nonFavorisRecherche:hover, .FavorisRecette:hover, .nonFavorisRecette:hover
{
	background-color: orange;
	transition: 0.3s;
}
.FavorisRecherche:active, .nonFavorisRecherche:active, .FavorisRecette:active, .nonFavorisRecette:active
{
	background-color: #008F45;
}
#resterConnecteDiv
{
	line-height: 20px;
    margin-top: 3px;
}
#header form section,#header form input
{
	text-align: center;
    vertical-align: middle;
}
#header form section input
{
	display:block;
	padding:1px;
}
#header form section a
{
	margin-top: 3px;
    display: inline-block;
}
.RecetteCarac
{
	margin-top:15px;
	margin-bottom:15px;
	margin-right: 20px;
}
#Diaporama
{
	height: 500px;
    box-shadow: 2px 2px 10px;
    border: 3px solid rgb(144,119,78);
    border-radius: 10px;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
	position:relative;
}
#imgDiapo
{
    width: 90%;
	cursor:zoom-in;
}
.flecheDiapo
{
	width:5%;
	font-size:2.5em;
	position: absolute;
    bottom: 50%;
	color: rgb(144,119,78);
	cursor:pointer;
}
.inputAliment
{
	width:150px;
}
.navMedia
{
	display:none;;
}
.forMedia
{
	display:none;
}
.aNavMedia
{
	display:none;
}
.number
{
	width: 70px;
}
.tel
{
	width:120px;
}
.iconeModifier,.iconeSupprimer, .iconeVisible, .icone
{
	width: 60px;
	padding: 5px;
	display:block;
	cursor:pointer;
}
.iconeVisible
{
	padding-right: 10px;
}
/*.ligneListe a h3 {
    max-width: 27%;
    text-align: center;
}*/
.iconeHfin
{
	margin: auto;
    text-align: center;
}
.imageSelection
{
	margin: 3%;
    position: relative;
    width: 43%;
    display: inline-block;
}
.imageSelection > img
{
	width: 100%;
    border-radius:20px;
    box-shadow: 0px 0px 20px black;
    border: solid black 2px;
    min-width: 300px;
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
    transition: 0.3s;
    position: relative;
}
.imageSelection:hover > img
{
	box-shadow: 0px 0px 10px black;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	transition:0.3s;
}
.imageSelection:hover > .textImage
{
	top:0%;
	border-radius: 20px 20px 0px 0px;
	transition:0.3s;
}
.textImage
{
	text-decoration: none;
    z-index: 1;
    margin: 2px;
    top: 40%;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgba(0,0,0,0.2);
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bolder;
    font-family: Lato,helvetica,arial,sans-serif;
	transition:0.25s;
}
.searchInput
{
	width: 98%;
    /*border-radius: 7px;*/
    padding: 5px;
}
.descriptionChateauAttaque h3 a, .descriptionChateauAttaque h3 span
{
	color: red;
    text-decoration: none;
}
table
{
	border-collapse: collapse;
}
tfoot, thead
{
	background-color: #E0E0E0
}
.pages
{
	display:flex;
	justify-content: center;
	margin-top:20px;
	margin-bottom:20px;
}
.numPage
{
	text-decoration:none;
	text-decoration: none;
	padding-right: 10px;
	padding-left:10px;
    text-align: center;
    color: #008F45;
	font-size:1.5em;
}
.commentaire
{
	background-color:white;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:2%;
	margin:1%;
	border: 2px solid rgb(144, 119, 78);
	border-radius:10px;
}
#top-arrow
{
	transition:0.4s;
}
.edit
{
	width:20px;
	margin-left:15px;
	cursor:pointer;
}
.edit:hover
{
	border-radius: 8px;
    background-color: rgb(253, 205, 69);
}
#footer
{
	width: 100%;
    margin-bottom: 0px;
    display: flex;
    z-index: 10;
    background-color: rgba(0,143,69,0.9);
	justify-content: space-around;
}
@media screen and (max-width: 1024px)
{

	.imageSelection > img
	{
		filter: grayscale(0%);
	}
	.iconeHfin
	{
		max-width:60px;
	}
	#tempsM, #tempsH
	{
		width:35%;
	}
	input,textarea,input[type='number'],input[type='submit'],input[type='tel'], select,.Bouton
	{
		outline: none;
		border: 4px solid rgb(144, 119, 78);
		padding: 15px;
		font-size: 50px;
		width: 95%;
		margin:10px;
	}
	option
	{
		font-size:0.5em;
	}
	.edit {
		width: 30px;
		margin-left: 20px;
		padding: 5px;
	}
	textarea
	{
		height: 400px;
	}
	.ligne
	{
		background-color: black;
		width: 60%;
		height: 10px;
		border-radius: 5px;
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 20%;
		background-color: #f9f9f9;
	}
	body
	{
		width:auto;
		font-size: 1.5em;
		line-height: 40px;
	}
	.page
	{
		width:90%;
		margin: 3%;
		padding: 2%;
		margin-top:200px;
	}
	#LogoOnama
	{
		height: 150px;
	}
	#Connexion
	{
		display: none;
	}
	header
	{
		width:90%;
		margin-left:10%;
		height:150px;
		box-shadow: 0px 4px 10px;
		z-index: 2;
	}
	nav
	{
		width:15%;
		margin-top:0px;
		height:160px;
		background-color:rgb(229,229,299);
		box-shadow: 2px 2px 10px;
		border-radius: 10px;
		z-index: 3;
	}
	.navMedia
	{
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		cursor:pointer;
		width:100%;
		z-index: 9;
		background-color: rgba(0,143,69,0.9);
	}
	.navMedia:active .dropdown-content
	{
		display:block
	}
	.navPc
	{
		display:none;
	}
	h2
	{
		line-height:100px;
		margin-top:50px;
		margin-bottom:50px;
		font-size: 2.5em;
	}
	input[type="checkbox"], input[type="radio"]
	{
		width: 40px;
		height: 40px;
		margin-right: 20px;
	}
	.forMedia
	{
		display:block;
	}
	.Connexion
	{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 10px;
		border: 3px rgb(144,119,78) solid;
		border-radius: 20px;
		background-color: rgb(235, 235, 235);
		box-shadow: 0px 0px 14px;
		height: 600px;
		justify-content: space-around;
	}
	.Connexion *
	{
		text-Align:center;
		line-height: 80px;
	}
	.Connexion section, .Connexion a
	{
		font-size: 1.6em;
	}
	.aNavMedia
	{
		margin-top: 150px;
		position: absolute;
		display: none;
		width: 100%;
		flex-direction: column;
		z-index: 2;
		background-color: rgba(229,229,299,0.7);
	}
	.aNavMedia a
	{
		background-color: rgba(0,143,69,0.9);
		border: 1px solid #f9f9f9;
		line-height: 100px;
		font-family: Andale Mono, monospace;
		font-weight: bold;
		text-align: center;
		color:white;
		margin:0px;
		padding:10px;
		margin-left: 10px;
		margin-right: 10px;
		transition: 0.3s;
		cursor: pointer;
		position:relative;
		font-size: 1.5em;
	}
	.aNavMedia a:hover
	{
		color:rgb(0,180,0);
		transition: 0.3s;
		text-decoration:none;
	}
	.ImageRecetteEncyclopedie {
		max-height: 200px;
		max-width: 200px;
	}
	#Titre-Onama
	{
		display:none;
	}
	.ligneListe a h3
	{
		font-size:1.4em;
	}
	h1,h2,h3,h4
	{
		font-weight:normal;
	}
	.iconeAppeler
	{
		width: 85px;
		padding: 10px;
		padding-left: 30px;
	}
	label
	{
		font-size:50px;
	}
	.LigneForm
	{
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left:15px;
	}
	.form_col
	{
		width:auto;
	}
	.marqueur
	{
		width:50px;
		height:50px;
		box-sizing:border-box;
		box-sizing:border-box;
		  background: #05F24C;
		  box-shadow: 2px 2px 4px #333;
		  border:5px solid #346FF7;
		  height: 20px;
		  width: 20px;
		  border-radius: 15px;
	}
	.numPage
	{
		font-size:50px;
	}
	table
	{
		font-size:2em;
	}
	td
	{
		padding:15px;
	}
}
