<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8" />
		<meta name="description" content="Onama corps"/>
		<meta name="Content-Language" content="fr">
		<meta name="Author" content="Fabien TURGUT">
		<title>Onama</title>
    <link rel="stylesheet" href="css/uikit.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="/TeteCerf.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/myAngular.js"></script>
  </head>

	<body class="uk-background-fixed uk-background-cover">
    <% include ../partials/nav.ejs %>
    <% include ../partials/accueil.ejs %>
    <% include ../partials/connexion.ejs %>
    <% include ../partials/inscription.ejs %>
    <div id="article">
      <div class="container">
    		<article ng-controller="ReviewController as review">
    			<p>{{review.firstname}} Onama {{review.lastname}} est un site web qui propose une <strong>gestion facilitée des aliments</strong> que vous possédez dans votre cuisine.</br>
    			Grâce à une interface simple est rapide vous pouvez modifier ou vous rendre compte des aliments présents dans votre frigot, vos placards, votre réfrigérateur,...</p>
    			<p>Mais Onama va encore plus loin en proposant des <strong>recettes adaptées</strong> à ce que vous possédez mais vous permet aussi de choisir en fonction de la popularité, l'origine, le temps, la difficulté, le prix et de différentes valeurs nutritives telle que les calories ou la vitamine D.</p>
    		</article>
      </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>
      <script src="js/myScript.js"></script>
    </body>
</html>
