<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    		<meta name="description" content="Onama corps"/>
    		<meta name="Content-Language" content="fr">
    		<meta name="Author" content="Fabien TURGUT">
    		<title>Onama</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

        <link rel="stylesheet" href="css/style.css" />
    		<link rel="shortcut icon" type="image/x-icon" href="/TeteCerf.png" />
    </head>
	<body>
    <% include ../partials/nav.ejs %>
    <div class="container" id="home">
			<h1>Bienvenue sur Onama</h1>
      <h3>Ornanisez avec efficacité et facilité votre alimentation !</h3>
    </div>
      <div class="container">
  			<form method="post" action="compte-cible.php">
  				<input type="text" name="AdresseMailC" id="AdresseMailC" placeholder=" Adresse Mail" size="20"/>
  				<input type="password" name="MotDePasseC" id="MotDePasseC" placeholder=" Mot de Passe" size="20"/>
  				<section id="resterConnecteDiv"><input id="ResterConnecteMedia" type="checkbox" name="ResterConnecte" /><label for="ResterConnecteMedia"style="font-size: 1em;">Rester connecté </label></section>
  				<a href="MotDePasseOublie.php">Mot de pass oublié ?</a>
  				<input type="submit" name="NomForm" value="Connexion" class="Bouton" />
  			</form>

      </div>
			<article>
				<p>Onama est un site web qui propose une <strong>gestion facilitée des aliments</strong> que vous possédez dans votre cuisine.</br>
				Grâce à une interface simple est rapide vous pouvez modifier ou vous rendre compte des aliments présents dans votre frigot, vos placards, votre réfrigérateur,...</p>
				<p>Mais Onama va encore plus loin en proposant des <strong>recettes adaptées</strong> à ce que vous possédez mais vous permet aussi de choisir en fonction de la popularité, l'origine, le temps, la difficulté, le prix et de différentes valeurs nutritives telle que les calories ou la vitamine D.</p>

			</article>
      <div id="connection" class="page">
        <form>
    			<input type="mail" name="mailC" placeholder="Adresse Mail"/>
    			<input type="password" name="passwordC" placeholder="Mot de Passe"/>
    			<input type="submit" name="NomForm" value="Connexion" class="Bouton" onclick="return testConnexion()" />
    		</form>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script src="js/myScript.js"></script>
    </body>
</html>
