<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8" />
		<meta name="description" content="Onama corps"/>
		<meta name="Content-Language" content="fr">
		<meta name="Author" content="Fabien TURGUT">
		<title>Onama</title>
    <link rel="stylesheet" href="css/uikit.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/png" href="img/TeteCerf.png" />
  </head>

	<body class="uk-background-fixed uk-background-cover" ng-controller="UserCtrl as userCtrl">
    <div id="chargement" ng-show="userCtrl.chargement">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
      <% include ../partials/nav.ejs %>
      <% include ../partials/accueil.ejs %>
      <% include ../partials/connexion.ejs %>
      <% include ../partials/recipes.ejs %>
      <% include ../partials/inscription.ejs %>
      <% include ../partials/myProfile.ejs %>
      <% include ../partials/myfood.ejs %>
      <% include ../partials/food.ejs %>
      <% include ../partials/footer.ejs %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>

      <script src="js/myAngular.js"></script>
      <script src="js/myScript.js"></script>
      <script>

      </script>
    </body>
</html>
