<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    		<meta name="description" content="Onama corps"/>
    		<meta name="Content-Language" content="fr">
    		<meta name="Author" content="Fabien TURGUT">
    		<title>Onama</title>
    		<link rel="stylesheet" href="css\style.css" />
        <link rel="stylesheet" href="css\uikit.min.css" />
    		<link rel="shortcut icon" type="image/x-icon" href="img/TeteCerf.png" />
    </head>

	<body>
    <% include ../partials/nav.ejs %>
		<div id="home" class="page">
			<h2>Bienvenue sur Onama.fr !</h2>
				<a href='Inscription.php' class='Bouton' id='Sinscrire'>S'inscrire</a>
				<form class="forMedia Connexion" method="post" action="compte-cible.php">
					<input type="text" name="AdresseMailC" id="AdresseMailC" placeholder=" Adresse Mail" size="20"/>
					<input type="password" name="MotDePasseC" id="MotDePasseC" placeholder=" Mot de Passe" size="20"/>
					<section id="resterConnecteDiv"><input id="ResterConnecteMedia" type="checkbox" name="ResterConnecte" /><label for="ResterConnecteMedia"style="font-size: 1em;">Rester connecté </label></section>
					<a href="MotDePasseOublie.php">Mot de pass oublié ?</a>
					<input type="submit" name="NomForm" value="Connexion" class="Bouton" />
				</form>
			<article>
				<p>Onama est un site web qui propose une <strong>gestion facilitée des aliments</strong> que vous possédez dans votre cuisine.</br>
				Grâce à une interface simple est rapide vous pouvez modifier ou vous rendre compte des aliments présents dans votre frigot, vos placards, votre réfrigérateur,...</p>
				<p>Mais Onama va encore plus loin en proposant des <strong>recettes adaptées</strong> à ce que vous possédez mais vous permet aussi de choisir en fonction de la popularité, l'origine, le temps, la difficulté, le prix et de différentes valeurs nutritives telle que les calories ou la vitamine D.</p>
				<p>Tout cela étant programmé dans l'objectif d'être le plus simple et rapide possible à utiliser !</p>
			</article>
			<br>
			<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		</div>
    <div id="connection" class="page">
      <form>
  			<input type="mail" name="mailC" placeholder="Adresse Mail"/>
  			<input type="password" name="passwordC" placeholder="Mot de Passe"/>
  			<input type="submit" name="NomForm" value="Connexion" class="Bouton" onclick="return testConnexion()" />
  		</form>
    </div>
    </body>
</html>
