<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8" />
		<meta name="description" content="Onama anglais"/>
		<meta name="Content-Language" content="fr">
		<meta name="Author" content="Fabien TURGUT">
		<title>Onama</title>
    <link rel="stylesheet" href="css/uikit.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/png" href="img/TeteCerf.png" />
    <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0" />
  </head>

	<body id='top'>
      <% include ../partials/nav.ejs %>
      <div class="page parallax-container" id="anglais" ng-controller="LinkCtrl as linkCtrl">
        <div class="container onBackground">
          <h3>Montage Hnniversaire</h3>
          <div ng-click='linkCtrl.show()'>Clickez pour voir</div>
          <iframe src="https://tinyurl.com/MontageH">
	  	<p>Your browser does not support iframes.</p>
	  </iframe>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>

      <script src="js/myAngular.js"></script>
      <script src="js/myScript.js"></script>
      <script>
      </script>
    </body>
</html>
